In [36]:
# Check GPU version
!nvidia-smi

Thu Jun  3 21:51:29 2021
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 462.31       Driver Version: 462.31       CUDA Version: 11.2     |
|-------------------------------+----------------------+----------------------+
| GPU  Name            TCC/WDDM | Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf  Pwr:Usage/Cap|         Memory-Usage | GPU-Util  Compute M. |
|                               |                      |               MIG M. |
|===============================+======================+======================|
|   0  GeForce MX250      WDDM  | 00000000:02:00.0 Off |                  N/A |
| N/A   42C    P8    N/A /  N/A |     64MiB /  2048MiB |      3%      Default |
|                               |                      |                  N/A |
+-------------------------------+----------------------+----------------------+

+-----------------------------------------------------------------------------+
| Processes:                                                                  |
|  GPU   GI   CI        PID   Type   Process name                  GPU Memory |
|        ID   ID                                                   Usage      |
|=============================================================================|
|  No running processes found                                                 |
+-----------------------------------------------------------------------------+

In [37]:
# Check CUDA/cuDNN Version
!nvcc -V && which nvcc

nvcc: NVIDIA (R) Cuda compiler driver
Copyright (c) 2005-2018 NVIDIA Corporation
Built on Sat_Aug_25_21:08:04_Central_Daylight_Time_2018
Cuda compilation tools, release 10.0, V10.0.130

'which' 不是內部或外部命令、可執行的程式或批次檔。

In [ ]:
# install packages
!pip install catboost
!pip install xgboost
!pip install pycaret[full]
!pip install wandb

In [ ]:
# 即時監控colab資源
import wandb

# connect with jim107225017/colab/20210526
wandb.init(project='colab', entity='jim107225017', name='CPU_GPU', id='20210526')

In [ ]:
# install lightgbm GPU in colab
# 先登入google cloud
from google.colab import drive
drive.mount('/content/drive')

!pip uninstall lightgbm -y
!git clone --recursive https://github.com/Microsoft/LightGBM
!cd LightGBM && rm -rf build && mkdir build && cd build && cmake -DUSE_GPU=1 ../../LightGBM && make -j4 && cd ../python-package && python3 setup.py install --precompile --gpu

In [2]:
# import packages
import os
import numpy as np
import pandas as pd

# Pycaret
from pycaret.classification import *

import catboost
import lightgbm
import xgboost

from sklearn.preprocessing import StandardScaler, RobustScaler, MinMaxScaler, LabelEncoder, OneHotEncoder
from joblib import load, dump

In [3]:
# # connect with Google Cloud
# from google.colab import drive
# drive.mount('/content/drive')
# path = "/content/drive/My Drive/colab/TPS May"
path = r'C:\Users\Chen\Desktop\Kaggle\Classifier\Tabular Playground Series - Apr 2021'
os.chdir(path)

In [4]:
# load data
df_train = pd.read_csv('train.csv')
df_test = pd.read_csv('test.csv')

In [5]:
df_train.isnull().sum()

PassengerId        0
Survived           0
Pclass             0
Name               0
Sex                0
Age             3292
SibSp              0
Parch              0
Ticket          4623
Fare             134
Cabin          67866
Embarked         250
dtype: int64

In [6]:
df_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,1,1,"Oconnor, Frankie",male,NaN,2,0,209245,27.14,C12239,S
1,1,0,3,"Bryan, Drew",male,NaN,0,0,27323,13.35,NaN,S
2,2,0,3,"Owens, Kenneth",male,0.33,1,2,CA 457703,71.29,NaN,S
3,3,0,3,"Kramer, James",male,19.00,0,0,A. 10866,13.04,NaN,S
4,4,1,3,"Bond, Michael",male,25.00,0,0,427635,7.76,NaN,S

In [7]:
all_data = pd.concat([df_train, df_test]).reset_index(drop=True)

In [8]:
# 1.Missing value of Age = mean
vari = 'Age'
print(f"Type {vari} is {all_data[vari].dtype}!!!")

print(all_data[vari].describe())

print(f"Missing ratio for train is {df_train[vari].isnull().sum() / len(df_train):.3f}")
print(f"Missing ratio for test is {df_test[vari].isnull().sum() / len(df_test):.3f}")

all_data[vari] = all_data[vari].fillna(all_data[vari].mean())

print(all_data[vari].isnull().sum())

Type Age is float64!!!
count    193221.000000
mean         34.464565
std          16.783847
min           0.080000
25%          22.000000
50%          31.000000
75%          48.000000
max          87.000000
Name: Age, dtype: float64
Missing ratio for train is 0.033
Missing ratio for test is 0.035
0

In [9]:
# 2.Missing value of Ticket = 'X', split string and take first part
vari = 'Ticket'
print(f"Type {vari} is {all_data[vari].dtype}!!!")

print(all_data[vari].describe())

print(f"Missing ratio for train is {df_train[vari].isnull().sum() / len(df_train):.3f}")
print(f"Missing ratio for test is {df_test[vari].isnull().sum() / len(df_test):.3f}")

all_data[vari] = all_data[vari].fillna('X').map(lambda x:str(x).split()[0] if len(str(x).split()) > 1 else 'X')

print(f'There is {all_data[vari].nunique()} unique values in array : {all_data[vari].unique()} ')

print(all_data[vari].isnull().sum())

Type Ticket is object!!!
count     190196
unique    132613
top         A/5
freq         646
Name: Ticket, dtype: object
Missing ratio for train is 0.046
Missing ratio for test is 0.052
There is 50 unique values in array : ['X' 'CA' 'A.' 'A/S' 'PC' 'W./C.' 'SC/PARIS' 'S.C./PARIS' 'SC/Paris' 'CA.'
 'SOTON/O.Q.' 'C.A.' 'A/5.' 'STON/O' 'A/4' 'C' 'AQ/4' 'STON/O2.' 'WE/P'
 'F.C.' 'F.C.C.' 'PP' 'S.O.C.' 'SC/AH' 'Fa' 'W.E.P.' 'C.A./SOTON' 'P/PP'
 'A/5' 'SOTON/O2' 'SW/PP' 'STON/OQ.' 'W/C' 'S.O./P.P.' 'SC' 'A./5.' 'A/4.'
 'S.O.P.' 'SOTON/OQ' 'SO/C' 'SCO/W' 'A.5.' 'S.W./PP' 'S.P.' 'LP' 'SC/A4'
 'AQ/3.' 'S.C./A.4.' 'A4.' 'SC/A.3']
0

In [10]:
# 3.Missing value of Fare = median by each Pclass and use log transform
vari = 'Fare'
print(f"Type {vari} is {all_data[vari].dtype}!!!")

print(all_data[vari].describe())

print(f"Missing ratio for train is {df_train[vari].isnull().sum() / len(df_train):.3f}")
print(f"Missing ratio for test is {df_test[vari].isnull().sum() / len(df_test):.3f}")

fare_map = all_data[['Fare', 'Pclass']].dropna().groupby('Pclass').median().to_dict()
all_data['Fare'] = all_data['Fare'].fillna(all_data['Pclass'].map(fare_map['Fare']))
all_data['Fare'] = np.log1p(all_data['Fare'])   # log1p = log(x+1) : Gaussian transform


print(all_data[vari].isnull().sum())

Type Fare is float64!!!
count    199733.000000
mean         44.652071
std          67.436104
min           0.050000
25%          10.080000
50%          20.250000
75%          34.850000
max         744.660000
Name: Fare, dtype: float64
Missing ratio for train is 0.001
Missing ratio for test is 0.001
0

In [11]:
# 4.Missing value of Cabin = 'X' and take first letter
vari = 'Cabin'
print(f"Type {vari} is {all_data[vari].dtype}!!!")

print(all_data[vari].describe())

print(f"Missing ratio for train is {df_train[vari].isnull().sum() / len(df_train):.3f}")
print(f"Missing ratio for test is {df_test[vari].isnull().sum() / len(df_test):.3f}")

all_data[vari] = all_data[vari].fillna('X').map(lambda x: x[0].strip())

print(f'There is {all_data[vari].nunique()} unique values in array : {all_data[vari].unique()} ')

print(all_data[vari].isnull().sum())

# or drop the feature directly
# for d in [df_train, df_test]:
#     d.drop(vari, axis=1, inplace=True)

Type Cabin is object!!!
count      61303
unique     45442
top       C11139
freq           7
Name: Cabin, dtype: object
Missing ratio for train is 0.679
Missing ratio for test is 0.708
There is 9 unique values in array : ['C' 'X' 'A' 'D' 'B' 'E' 'F' 'G' 'T']
0

In [12]:
# 5.Missing value of Embarked = 'X'
vari = 'Embarked'
print(f"Type {vari} is {all_data[vari].dtype}!!!")

print(all_data[vari].describe())

print(f"Missing ratio for train is {df_train[vari].isnull().sum() / len(df_train):.3f}")
print(f"Missing ratio for test is {df_test[vari].isnull().sum() / len(df_test):.3f}")

all_data[vari] = all_data[vari].fillna('X')

print(f'There is {all_data[vari].nunique()} unique values in array : {all_data[vari].unique()} ')

print(all_data[vari].isnull().sum())

Type Embarked is object!!!
count     199473
unique         3
top            S
freq      140981
Name: Embarked, dtype: object
Missing ratio for train is 0.003
Missing ratio for test is 0.003
There is 4 unique values in array : ['S' 'C' 'Q' 'X']
0

In [13]:
# 6.Name, take only surnames
vari = 'Name'
all_data[vari] = all_data[vari].map(lambda x: x.split(',')[0])

print(f'There is {all_data[vari].nunique()} unique values in array : {all_data[vari].unique()} ')

There is 26470 unique values in array : ['Oconnor' 'Bryan' 'Owens' ... 'Pecatoste' 'Conlisk' 'Peitz']

In [14]:
# Encoding and transform
label_cols = ['Name', 'Ticket', 'Sex']
onehot_cols = ['Cabin', 'Embarked']
num_cols = ['Pclass', 'Age', 'Fare', 'SibSp', 'Parch']
TARGET = 'Survived'

def label_encoder(c):
    le = LabelEncoder()
    return le.fit_transform(c)

scaler = StandardScaler()
minmax = MinMaxScaler()

cat_df = all_data[onehot_cols]

lab_df = all_data[label_cols].apply(label_encoder)
lab_df = pd.DataFrame(minmax.fit_transform(lab_df[label_cols]), columns=label_cols)

num_df = pd.DataFrame(scaler.fit_transform(all_data[num_cols]), columns=num_cols)

target_df = all_data[TARGET]

all_data = pd.concat([num_df, lab_df, cat_df, target_df], axis=1)

# split train and test
df_train = all_data[:len(df_train)]
df_test = all_data[len(df_train):].drop(TARGET, axis=1)

In [15]:
print(df_train.head())
print(df_train.shape)

     Pclass           Age      Fare     SibSp     Parch      Name    Ticket  \
0 -1.425730 -8.614253e-16  0.134351  1.901268 -0.505478  0.658922  1.000000
1  0.877699 -8.614253e-16 -0.533837 -0.539572 -0.505478  0.115720  1.000000
2  0.877699 -2.069149e+00  1.070483  0.680848  1.628715  0.672409  0.285714
3  0.877699 -9.374220e-01 -0.555506 -0.539572 -0.505478  0.481393  0.000000
4  0.877699 -5.737175e-01 -1.023540 -0.539572 -0.505478  0.088216  1.000000

   Sex Cabin Embarked  Survived
0  1.0     C        S       1.0
1  1.0     X        S       0.0
2  1.0     X        S       0.0
3  1.0     X        S       0.0
4  1.0     X        S       1.0
(100000, 11)

In [16]:
# Set-Up
PROJECT_NAME = 'pycaret-20210603'
SEED = 20210603

setup(data = df_train[label_cols + onehot_cols + num_cols + [TARGET]],
      categorical_features=onehot_cols,
      numeric_features=label_cols + num_cols,
      imputation_type='iterative',
      target = TARGET,
      train_size=0.8,
      data_split_shuffle=True,
      data_split_stratify=True,
      fold = 5,
      fold_strategy='stratifiedkfold',   # or 'kfold', 'stratifiedkfold', 'groupkfold', 'timeseries'
      fold_shuffle = True,
      n_jobs=-1,
      use_gpu = True,
      session_id=SEED,   # seed
      silent = True)

({'acc': <pycaret.containers.metrics.classification.AccuracyMetricContainer at 0x240e1d0c588>,
  'auc': <pycaret.containers.metrics.classification.ROCAUCMetricContainer at 0x240e50ba848>,
  'recall': <pycaret.containers.metrics.classification.RecallMetricContainer at 0x240e3b1a248>,
  'precision': <pycaret.containers.metrics.classification.PrecisionMetricContainer at 0x240e50bac88>,
  'f1': <pycaret.containers.metrics.classification.F1MetricContainer at 0x240e50bad88>,
  'kappa': <pycaret.containers.metrics.classification.KappaMetricContainer at 0x240e50baf08>,
  'mcc': <pycaret.containers.metrics.classification.MCCMetricContainer at 0x240e50baf48>},
 1,
 False,
 'clf-default-name',
 Pipeline(memory=None, steps=[('empty_step', 'passthrough')], verbose=False),
 [],
 <MLUsecase.CLASSIFICATION: 1>,
 True,
 StratifiedKFold(n_splits=5, random_state=20210603, shuffle=True),
 'box-cox',
 Pipeline(memory=None,
          steps=[('dtypes',
                  DataTypes_Auto_infer(categorical_features=['Cabin',
                                                             'Embarked'],
                                       display_types=False, features_todrop=[],
                                       id_columns=[],
                                       ml_usecase='classification',
                                       numerical_features=['Name', 'Ticket',
                                                           'Sex', 'Pclass',
                                                           'Age', 'Fare',
                                                           'SibSp', 'Parch'],
                                       target='Survived', time_features=[])),
                 ('imputer',
                  Iterative_Imputer(add_indicator=False,
                                    c...
                 ('scaling', 'passthrough'), ('P_transform', 'passthrough'),
                 ('binn', 'passthrough'), ('rem_outliers', 'passthrough'),
                 ('cluster_all', 'passthrough'),
                 ('dummy', Dummify(target='Survived')),
                 ('fix_perfect', Remove_100(target='Survived')),
                 ('clean_names', Clean_Colum_Names()),
                 ('feature_select', 'passthrough'), ('fix_multi', 'passthrough'),
                 ('dfs', 'passthrough'), ('pca', 'passthrough')],
          verbose=False),
 False,
 0        1
 1        0
 2        0
 3        0
 4        1
         ..
 99995    1
 99996    0
 99997    0
 99998    0
 99999    0
 Name: Survived, Length: 100000, dtype: int64,
 5,
            Name    Ticket  Sex    Pclass       Age      Fare     SibSp  \
 4070   0.442102  1.000000  1.0 -1.425730  0.456779  0.232948 -0.539572
 21929  0.717405  1.000000  1.0 -1.425730 -0.513100  0.063097 -0.539572
 73108  0.294269  0.693878  1.0 -0.274016 -0.694952  0.131173 -0.539572
 41368  0.919151  1.000000  0.0 -0.274016  1.608510 -0.972760 -0.539572
 43292  0.209604  1.000000  0.0  0.877699 -1.967918  0.121933  0.680848
 ...         ...       ...  ...       ...       ...       ...       ...
 157    0.837357  0.428571  0.0 -1.425730 -0.210013  0.278800 -0.539572
 79544  0.769920  1.000000  1.0 -1.425730  1.426657  2.058306 -0.539572
 75992  0.785258  1.000000  1.0 -0.274016 -0.331248  1.098495 -0.539572
 16648  0.545619  0.061224  1.0  0.877699 -1.907301  0.133646  0.680848
 82300  0.778344  1.000000  1.0 -0.274016 -0.937422 -0.088022 -0.539572

           Parch  Cabin_A  Cabin_B  ...  Cabin_D  Cabin_E  Cabin_F  Cabin_G  \
 4070   0.561618      0.0      0.0  ...      0.0      0.0      0.0      0.0
 21929 -0.505478      0.0      0.0  ...      1.0      0.0      0.0      0.0
 73108 -0.505478      0.0      0.0  ...      0.0      0.0      0.0      0.0
 41368 -0.505478      0.0      0.0  ...      0.0      0.0      0.0      0.0
 43292  1.628715      0.0      0.0  ...      0.0      0.0      0.0      0.0
 ...         ...      ...      ...  ...      ...      ...      ...      ...
 157   -0.505478      1.0      0.0  ...      0.0      0.0      0.0      0.0
 79544 -0.505478      0.0      0.0  ...      0.0      0.0      0.0      0.0
 75992 -0.505478      0.0      0.0  ...      0.0      0.0      0.0      0.0
 16648  0.561618      0.0      0.0  ...      0.0      0.0      0.0      0.0
 82300 -0.505478      0.0      0.0  ...      0.0      0.0      0.0      0.0

        Cabin_T  Cabin_X  Embarked_C  Embarked_Q  Embarked_S  Embarked_X
 4070       0.0      1.0         0.0         0.0         1.0         0.0
 21929      0.0      0.0         0.0         0.0         1.0         0.0
 73108      0.0      1.0         0.0         0.0         1.0         0.0
 41368      0.0      1.0         1.0         0.0         0.0         0.0
 43292      0.0      1.0         0.0         0.0         1.0         0.0
 ...        ...      ...         ...         ...         ...         ...
 157        0.0      0.0         0.0         0.0         1.0         0.0
 79544      0.0      0.0         1.0         0.0         0.0         0.0
 75992      0.0      1.0         0.0         0.0         1.0         0.0
 16648      0.0      1.0         0.0         0.0         1.0         0.0
 82300      0.0      1.0         0.0         0.0         1.0         0.0

 [80000 rows x 21 columns],
 {'USI',
  'X',
  'X_test',
  'X_train',
  '_all_metrics',
  '_all_models',
  '_all_models_internal',
  '_available_plots',
  '_gpu_n_jobs_param',
  '_internal_pipeline',
  '_ml_usecase',
  'create_model_container',
  'data_before_preprocess',
  'display_container',
  'exp_name_log',
  'experiment__',
  'fix_imbalance_method_param',
  'fix_imbalance_param',
  'fold_generator',
  'fold_groups_param',
  'fold_groups_param_full',
  'fold_param',
  'fold_shuffle_param',
  'gpu_param',
  'html_param',
  'imputation_classifier',
  'imputation_regressor',
  'iterative_imputation_iters_param',
  'log_plots_param',
  'logging_param',
  'master_model_container',
  'n_jobs_param',
  'prep_pipe',
  'pycaret_globals',
  'seed',
  'stratify_param',
  'target_param',
  'transform_target_method_param',
  'transform_target_param',
  'y',
  'y_test',
  'y_train'},
 {'parameter': 'Hyperparameters',
  'auc': 'AUC',
  'confusion_matrix': 'Confusion Matrix',
  'threshold': 'Threshold',
  'pr': 'Precision Recall',
  'error': 'Prediction Error',
  'class_report': 'Class Report',
  'rfe': 'Feature Selection',
  'learning': 'Learning Curve',
  'manifold': 'Manifold Learning',
  'calibration': 'Calibration Curve',
  'vc': 'Validation Curve',
  'dimension': 'Dimensions',
  'feature': 'Feature Importance',
  'feature_all': 'Feature Importance (All)',
  'boundary': 'Decision Boundary',
  'lift': 'Lift Chart',
  'gain': 'Gain Chart',
  'tree': 'Decision Tree'},
 [('Setup Config',
                                  Description                            Value
   0                               session_id                         20210603
   1                                   Target                         Survived
   2                              Target Type                           Binary
   3                            Label Encoded                   0.0: 0, 1.0: 1
   4                            Original Data                     (100000, 11)
   5                           Missing Values                            False
   6                         Numeric Features                                8
   7                     Categorical Features                                2
   8                         Ordinal Features                            False
   9                High Cardinality Features                            False
   10                 High Cardinality Method                             None
   11                   Transformed Train Set                      (80000, 21)
   12                    Transformed Test Set                      (20000, 21)
   13                      Shuffle Train-Test                             True
   14                     Stratify Train-Test                             True
   15                          Fold Generator                  StratifiedKFold
   16                             Fold Number                                5
   17                                CPU Jobs                               -1
   18                                 Use GPU                             True
   19                          Log Experiment                            False
   20                         Experiment Name                 clf-default-name
   21                                     USI                             f781
   22                         Imputation Type                        iterative
   23          Iterative Imputation Iteration                                5
   24                         Numeric Imputer                             mean
   25      Iterative Imputation Numeric Model  Light Gradient Boosting Machine
   26                     Categorical Imputer                         constant
   27  Iterative Imputation Categorical Model  Light Gradient Boosting Machine
   28           Unknown Categoricals Handling                   least_frequent
   29                               Normalize                            False
   30                        Normalize Method                             None
   31                          Transformation                            False
   32                   Transformation Method                             None
   33                                     PCA                            False
   34                              PCA Method                             None
   35                          PCA Components                             None
   36                     Ignore Low Variance                            False
   37                     Combine Rare Levels                            False
   38                    Rare Level Threshold                             None
   39                         Numeric Binning                            False
   40                         Remove Outliers                            False
   41                      Outliers Threshold                             None
   42                Remove Multicollinearity                            False
   43             Multicollinearity Threshold                             None
   44                              Clustering                            False
   45                    Clustering Iteration                             None
   46                     Polynomial Features                            False
   47                       Polynomial Degree                             None
   48                    Trignometry Features                            False
   49                    Polynomial Threshold                             None
   50                          Group Features                            False
   51                       Feature Selection                            False
   52                Feature Selection Method                          classic
   53            Features Selection Threshold                             None
   54                     Feature Interaction                            False
   55                           Feature Ratio                            False
   56                   Interaction Threshold                             None
   57                           Fix Imbalance                            False
   58                    Fix Imbalance Method                            SMOTE),
  ('X_training Set',
              Name    Ticket  Sex    Pclass       Age      Fare     SibSp  \
   4070   0.442102  1.000000  1.0 -1.425730  0.456779  0.232948 -0.539572
   21929  0.717405  1.000000  1.0 -1.425730 -0.513100  0.063097 -0.539572
   73108  0.294269  0.693878  1.0 -0.274016 -0.694952  0.131173 -0.539572
   41368  0.919151  1.000000  0.0 -0.274016  1.608510 -0.972760 -0.539572
   43292  0.209604  1.000000  0.0  0.877699 -1.967918  0.121933  0.680848
   ...         ...       ...  ...       ...       ...       ...       ...
   157    0.837357  0.428571  0.0 -1.425730 -0.210013  0.278800 -0.539572
   79544  0.769920  1.000000  1.0 -1.425730  1.426657  2.058306 -0.539572
   75992  0.785258  1.000000  1.0 -0.274016 -0.331248  1.098495 -0.539572
   16648  0.545619  0.061224  1.0  0.877699 -1.907301  0.133646  0.680848
   82300  0.778344  1.000000  1.0 -0.274016 -0.937422 -0.088022 -0.539572

             Parch  Cabin_A  Cabin_B  ...  Cabin_D  Cabin_E  Cabin_F  Cabin_G  \
   4070   0.561618      0.0      0.0  ...      0.0      0.0      0.0      0.0
   21929 -0.505478      0.0      0.0  ...      1.0      0.0      0.0      0.0
   73108 -0.505478      0.0      0.0  ...      0.0      0.0      0.0      0.0
   41368 -0.505478      0.0      0.0  ...      0.0      0.0      0.0      0.0
   43292  1.628715      0.0      0.0  ...      0.0      0.0      0.0      0.0
   ...         ...      ...      ...  ...      ...      ...      ...      ...
   157   -0.505478      1.0      0.0  ...      0.0      0.0      0.0      0.0
   79544 -0.505478      0.0      0.0  ...      0.0      0.0      0.0      0.0
   75992 -0.505478      0.0      0.0  ...      0.0      0.0      0.0      0.0
   16648  0.561618      0.0      0.0  ...      0.0      0.0      0.0      0.0
   82300 -0.505478      0.0      0.0  ...      0.0      0.0      0.0      0.0

          Cabin_T  Cabin_X  Embarked_C  Embarked_Q  Embarked_S  Embarked_X
   4070       0.0      1.0         0.0         0.0         1.0         0.0
   21929      0.0      0.0         0.0         0.0         1.0         0.0
   73108      0.0      1.0         0.0         0.0         1.0         0.0
   41368      0.0      1.0         1.0         0.0         0.0         0.0
   43292      0.0      1.0         0.0         0.0         1.0         0.0
   ...        ...      ...         ...         ...         ...         ...
   157        0.0      0.0         0.0         0.0         1.0         0.0
   79544      0.0      0.0         1.0         0.0         0.0         0.0
   75992      0.0      1.0         0.0         0.0         1.0         0.0
   16648      0.0      1.0         0.0         0.0         1.0         0.0
   82300      0.0      1.0         0.0         0.0         1.0         0.0

   [80000 rows x 21 columns]),
  ('y_training Set',
   4070     1
   21929    0
   73108    0
   41368    1
   43292    1
           ..
   157      0
   79544    1
   75992    0
   16648    0
   82300    1
   Name: Survived, Length: 80000, dtype: int32),
  ('X_test Set',
              Name    Ticket  Sex    Pclass           Age      Fare     SibSp  \
   26592  0.318259  0.428571  0.0 -1.425730  8.811005e-01  1.917464  0.680848
   61317  0.655899  1.000000  1.0 -1.425730  3.355438e-01 -0.119850 -0.539572
   1799   0.249802  1.000000  1.0 -0.274016 -1.493956e-01 -0.159348 -0.539572
   72028  0.871850  1.000000  0.0 -0.274016 -2.100130e-01 -0.627297 -0.539572
   76761  0.954286  1.000000  0.0 -0.274016  1.366040e+00  0.140327 -0.539572
   ...         ...       ...  ...       ...           ...       ...       ...
   15664  0.392988  1.000000  1.0  0.877699  1.608510e+00 -0.901154 -0.539572
   4047   0.982470  1.000000  0.0  0.877699 -1.846683e+00  1.245670  0.680848
   99769  0.280177  1.000000  1.0 -0.274016 -1.846683e+00 -0.583457  0.680848
   91627  0.758019  1.000000  1.0 -1.425730  1.062953e+00  1.093144 -0.539572
   98682  0.458914  1.000000  0.0  0.877699 -8.614253e-16  0.201159  0.680848

             Parch  Cabin_A  Cabin_B  ...  Cabin_D  Cabin_E  Cabin_F  Cabin_G  \
   26592 -0.505478      0.0      0.0  ...      0.0      0.0      0.0      0.0
   61317  1.628715      0.0      0.0  ...      0.0      0.0      0.0      0.0
   1799  -0.505478      0.0      0.0  ...      0.0      0.0      0.0      0.0
   72028  0.561618      0.0      0.0  ...      0.0      0.0      0.0      0.0
   76761  9.098392      0.0      0.0  ...      1.0      0.0      0.0      0.0
   ...         ...      ...      ...  ...      ...      ...      ...      ...
   15664 -0.505478      0.0      0.0  ...      0.0      0.0      0.0      0.0
   4047   1.628715      0.0      0.0  ...      0.0      0.0      0.0      0.0
   99769 -0.505478      0.0      0.0  ...      0.0      0.0      0.0      0.0
   91627 -0.505478      0.0      0.0  ...      0.0      0.0      0.0      0.0
   98682  0.561618      0.0      0.0  ...      0.0      0.0      0.0      0.0

          Cabin_T  Cabin_X  Embarked_C  Embarked_Q  Embarked_S  Embarked_X
   26592      0.0      0.0         0.0         1.0         0.0         0.0
   61317      0.0      0.0         0.0         0.0         1.0         0.0
   1799       0.0      1.0         0.0         0.0         1.0         0.0
   72028      0.0      1.0         1.0         0.0         0.0         0.0
   76761      0.0      0.0         0.0         0.0         1.0         0.0
   ...        ...      ...         ...         ...         ...         ...
   15664      0.0      1.0         0.0         0.0         1.0         0.0
   4047       0.0      1.0         0.0         0.0         1.0         0.0
   99769      0.0      0.0         0.0         0.0         1.0         0.0
   91627      0.0      0.0         1.0         0.0         0.0         0.0
   98682      0.0      1.0         0.0         0.0         1.0         0.0

   [20000 rows x 21 columns]),
  ('y_test Set',
   26592    1
   61317    0
   1799     1
   72028    1
   76761    1
           ..
   15664    0
   4047     1
   99769    0
   91627    1
   98682    1
   Name: Survived, Length: 20000, dtype: int64),
  ('Transformation Pipeline',
   Pipeline(memory=None,
            steps=[('dtypes',
                    DataTypes_Auto_infer(categorical_features=['Cabin',
                                                               'Embarked'],
                                         display_types=False, features_todrop=[],
                                         id_columns=[],
                                         ml_usecase='classification',
                                         numerical_features=['Name', 'Ticket',
                                                             'Sex', 'Pclass',
                                                             'Age', 'Fare',
                                                             'SibSp', 'Parch'],
                                         target='Survived', time_features=[])),
                   ('imputer',
                    Iterative_Imputer(add_indicator=False,
                                      c...
                   ('scaling', 'passthrough'), ('P_transform', 'passthrough'),
                   ('binn', 'passthrough'), ('rem_outliers', 'passthrough'),
                   ('cluster_all', 'passthrough'),
                   ('dummy', Dummify(target='Survived')),
                   ('fix_perfect', Remove_100(target='Survived')),
                   ('clean_names', Clean_Colum_Names()),
                   ('feature_select', 'passthrough'), ('fix_multi', 'passthrough'),
                   ('dfs', 'passthrough'), ('pca', 'passthrough')],
            verbose=False))],
            Name    Ticket  Sex    Pclass           Age      Fare     SibSp  \
 0      0.658922  1.000000  1.0 -1.425730 -8.614253e-16  0.134351  1.901268
 1      0.115720  1.000000  1.0  0.877699 -8.614253e-16 -0.533837 -0.539572
 2      0.672409  0.285714  1.0  0.877699 -2.069149e+00  1.070483  0.680848
 3      0.481393  0.000000  1.0  0.877699 -9.374220e-01 -0.555506 -0.539572
 4      0.088216  1.000000  1.0  0.877699 -5.737175e-01 -1.023540 -0.539572
 ...         ...       ...  ...       ...           ...       ...       ...
 99995  0.060070  0.428571  0.0 -0.274016  1.669127e+00 -0.434567 -0.539572
 99996  0.113038  1.000000  1.0 -0.274016  1.911597e+00 -0.698959 -0.539572
 99997  0.159394  1.000000  1.0  0.877699  1.536915e-01 -0.802137 -0.539572
 99998  0.148891  1.000000  1.0  0.877699  1.002335e+00  0.259408 -0.539572
 99999  0.266538  1.000000  1.0  0.877699  1.244805e+00 -0.492531 -0.539572


In [17]:
# GPU Enable
models(internal=True)[['Name', 'GPU Enabled']]

                                         Name  GPU Enabled
ID
lr                        Logistic Regression        False
knn                    K Neighbors Classifier        False
nb                                Naive Bayes        False
dt                   Decision Tree Classifier        False
svm                       SVM - Linear Kernel        False
rbfsvm                    SVM - Radial Kernel        False
gpc               Gaussian Process Classifier        False
mlp                            MLP Classifier        False
ridge                        Ridge Classifier        False
rf                   Random Forest Classifier        False
qda           Quadratic Discriminant Analysis        False
ada                      Ada Boost Classifier        False
gbc              Gradient Boosting Classifier        False
lda              Linear Discriminant Analysis        False
et                     Extra Trees Classifier        False
xgboost             Extreme Gradient Boosting         True
lightgbm      Light Gradient Boosting Machine         True
catboost                  CatBoost Classifier         True
Bagging                    Bagging Classifier        False
Stacking                  Stacking Classifier        False
Voting                      Voting Classifier        False
CalibratedCV         Calibrated Classifier CV        False

In [36]:
top6 = compare_models(exclude=['catboost'],   #catboost不能 tune_model
                      sort='Accuracy',   # or ['Accuracy', 'AUC', 'Recall', 'Precision', 'F1', 'Kappa', 'MCC']
                      n_select=6,
                      cross_validation=True,
                      budget_time=10*60,   # in minutes
                      )

In [37]:
# Tune Top 6 models
tuned_top6 = [tune_model(i, n_iter=20, search_library="optuna", search_algorithm="tpe") for i in top6]

In [45]:
# stacking
stacker = stack_models(tuned_top6)

In [46]:
# blending
blender = blend_models(tuned_top6)

In [47]:
# select best model 
best = automl(optimize = 'Accuracy')
print(best)

GradientBoostingClassifier(ccp_alpha=0.0, criterion='friedman_mse', init=None,
                           learning_rate=0.1, loss='deviance', max_depth=3,
                           max_features=None, max_leaf_nodes=None,
                           min_impurity_decrease=0.0, min_impurity_split=None,
                           min_samples_leaf=1, min_samples_split=2,
                           min_weight_fraction_leaf=0.0, n_estimators=100,
                           n_iter_no_change=None, presort='deprecated',
                           random_state=20210603, subsample=1.0, tol=0.0001,
                           validation_fraction=0.1, verbose=0,
                           warm_start=False)

In [48]:
# save best, stacking, blending and top6 model
save_model(best, model_name=PROJECT_NAME)
save_model(stacker, model_name=PROJECT_NAME + '_stacking')
save_model(blender, model_name=PROJECT_NAME + '_blending')
save_model(tuned_top6, model_name=PROJECT_NAME + '_top6')

Transformation Pipeline and Model Succesfully Saved
Transformation Pipeline and Model Succesfully Saved
Transformation Pipeline and Model Succesfully Saved
Transformation Pipeline and Model Succesfully Saved

(Pipeline(memory=None,
          steps=[('dtypes',
                  DataTypes_Auto_infer(categorical_features=['Cabin',
                                                             'Embarked'],
                                       display_types=False, features_todrop=[],
                                       id_columns=[],
                                       ml_usecase='classification',
                                       numerical_features=['Name', 'Ticket',
                                                           'Sex', 'Pclass',
                                                           'Age', 'Fare',
                                                           'SibSp', 'Parch'],
                                       target='Survived', time_features=[])),
                 ('imputer',
                  Iterative_Imputer(add_indicator=False,
                                    c...
                                      intercept_scaling=1, l1_ratio=None,
                                      max_iter=1000, multi_class='auto',
                                      n_jobs=None, penalty='l2',
                                      random_state=20210603, solver='lbfgs',
                                      tol=0.0001, verbose=0, warm_start=False),
                   RidgeClassifier(alpha=9.210908221417878, class_weight=None,
                                   copy_X=True, fit_intercept=False,
                                   max_iter=None, normalize=False,
                                   random_state=20210603, solver='auto',
                                   tol=0.001)]]],
          verbose=False),
 'pycaret-20210603_top6.pkl')

In [49]:
# load best model
best = load_model(PROJECT_NAME)

Transformation Pipeline and Model Successfully Loaded

In [50]:
# predict
result = predict_model(best, data=df_test, raw_score=False)   # predict
result['Label'] = result['Label'].astype('float64').astype('int64')

In [101]:
# submission
sub = pd.read_csv('sample_submission.csv')
sub[sub.columns[1:]] = result['Label'].values.reshape(-1,1)
sub.to_csv(f'{PROJECT_NAME}.csv', index=False)

In [102]:
# load stacking model
stacker = load_model(PROJECT_NAME + '_stacking')

Transformation Pipeline and Model Successfully Loaded

In [103]:
# predict
result = predict_model(stacker, data=df_test, raw_score=False)   # predict
result['Label'] = result['Label'].astype('float64').astype('int64')

In [104]:
# submission
sub = pd.read_csv('sample_submission.csv')
sub[sub.columns[1:]] = result['Label'].values.reshape(-1,1)
sub.to_csv(f'{PROJECT_NAME}_stacking.csv', index=False)

In [105]:
# load blending model
blender = load_model(PROJECT_NAME + '_blending')

Transformation Pipeline and Model Successfully Loaded

In [106]:
# predict
result = predict_model(blender, data=df_test, raw_score=False)   # predict
result['Label'] = result['Label'].astype('float64').astype('int64')

In [107]:
# submission
sub = pd.read_csv('sample_submission.csv')
sub[sub.columns[1:]] = result['Label'].values.reshape(-1,1)
sub.to_csv(f'{PROJECT_NAME}_blending.csv', index=False)